[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Plateforme création de badge
Type=Link
URL=http://openbadges.ledome.info/home
Icon=text-html
Name[fr_FR]=Plateforme creation images badge LeDome
