
#map-container {
    border: 1px solid grey;
    height: 100vh;
    width: 100vw;
}

circle {
    fill: transparent;
    stroke: #000;
}

 .skill-label div {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    text-align: center;
}